/* Online store styles */
.navbar{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    color: black;
    margin-right: 20px;
}
.website-name{
    font-family: poppins;
    font-weight: 700;
    font-size: 24px;
    margin-left: 120px;
}
.pages{
    padding-top: 5px;
    margin-right: 120px;
    font-family: poppins;
    font-weight: bold;
    font-size: 16px;
}
hr{
    border: .5px solid #d1d1d1;
}
.online-store{
    margin-top: 36px;
    margin-bottom: 36px;
}
.stores{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.store{
    margin-right: 40px;
}
.footer{
    padding-top: 50px;
    height: 240px;
    width: 100%;
    background-color: #17082e;
    text-align: center;
}

.footer-text{
    width: 100%;
    /* text-align: center; */
}

#footer-heading{
    font-family: poppins;
    font-weight: 700px;
    font-size: 24px;
    color: #ffff;
}
#copyright, #all-right{
    font-family: Manrope;
    color: #ffff;
    font-weight: 700px;
    font-size: 14px;
}
.footer-icon{
    display: flex;
    justify-content: center;
    color: #ffff;
    border: 1px;
}
.icon{
    
    margin-right: 20px;
}